body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./msk.jpg") ;
    background-size: cover;   
    height: 100vh;

}
header, nav, div{
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
}

.nav-item:hover{
    cursor: pointer;
    text-decoration: underline;
}

.container, nav{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
}

.map{
    display: inline-block;
}